services:
  web:
    build: .
    ports:
      - "8001:8000"
    env_file:
      - .env
    depends_on:
      - db
    command: >
      sh -c "python manage.py migrate &&
         python manage.py create_initial_superuser &&
         python manage.py collectstatic --no-input &&
         gunicorn lms_project.wsgi:application --bind 0.0.0.0:8000 --env DJANGO_SETTINGS_MODULE=lms_project.settings"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: internproject5
      POSTGRES_USER: internproject5user
      POSTGRES_PASSWORD: yourpassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
